header
  h4 Please click the below link to reset your password

.container 
  p
    a(href=resetLink) RESET PASSWORD 
  p This link expires in <u>#{expireAt}</u> hour(s)

footer 
  p
    i This is an automated email, Please do not reply to this email.
